.range {

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        // background: transparent;
        cursor: pointer;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 8px;
        height: 8px;
        background: var(--color-primary);
        cursor: pointer;
        border-radius: 0;
        transform: rotate(45deg);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        pointer-events: auto;
    }

    input[type="range"]::-webkit-slider-thumb:hover {
        box-shadow: 0 3px 8px rgba(220, 38, 38, 0.4);
    }

    input[type="range"]::-webkit-slider-thumb:active {
        box-shadow: 0 3px 12px rgba(220, 38, 38, 0.5);
    }

    input[type="range"]::-moz-range-thumb {
        width: 8px;
        height: 8px;
        background: var(--color-primary);;
        cursor: pointer;
        border: none;
        border-radius: 0;
        transform: rotate(45deg);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        pointer-events: auto;
    }

    input[type="range"]::-moz-range-thumb:hover {
        box-shadow: 0 3px 8px rgba(220, 38, 38, 0.4);
    }

    input[type="range"]::-moz-range-thumb:active {
        box-shadow: 0 3px 12px rgba(220, 38, 38, 0.5);
    }

    input[type="range"]:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    input[type="range"]::-moz-range-track {
        background: transparent;
        border: none;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        background: transparent;
        border: none;
    }

}