//IranSans
@font-face {
  font-family: "iranyekanx";
  src: url("./IRANYekanXVF.woff") format("woff-variations"),
    url("./IRANYekanXVF.woff") format("woff");
  font-weight: 100 900;
  font-display: fallback;
}
:root {
  --base-font: "iranyekanx";
}
